main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #0288d1;
  --secondary: #8c54ff;
  --tertiary: #b12704;
  --light: #636363;
  --dark: #000000;
  --darker: #313131;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem * 1.5);
  --spacing-five: calc(2.5rem);
  --image-size: calc(15vw);
  justify-content: center
}

@import url('https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans:wght@400;700&family=Staatliches&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Staatliches';
}

html,
body {
  min-height: 100%;
  color: var(--light);
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 2vw;
  letter-spacing: 0.1em;
  background-color: var(--dark);
  color: var(--dark);
}

.title {
  padding: 0 3vw;
  font-size: 4vw;
  text-align: left;
}

.portfolio-title {
  font-size: 3vw;
  color: var(--primary);
  text-shadow: 2px 2px var(--secondary);
  border-bottom: 2px solid var(--secondary);
  margin-bottom: 10vh;
}

.porject-title {
  margin: 2vh 0;
  font-size: 2vw;
  font-weight: 600;
  border-bottom: 3px solid var(--dark);
  margin-bottom: 4vh;
}

.project-links {
  border-bottom: 3px solid var(--dark);
  border-top: 3px solid var(--dark);
  margin: 4vh 0;
  padding: 2vh 2vw;
}

.main-holder {
  padding: 3vh 0;
}

.into-holder {
  height: 100vh;
  width: 95vw;
  color: var(--light);
}

.nav-holder {
  display: flex;
  justify-content: space-around;
}

.nav-list {
  display: inline;
  text-align: center;
  margin-top: 1vh;
  font-size: 2vw;
}


@media only screen and (min-width: 768px) {

  .nav-holder {
    display: flex;
    flex-direction: column;
    height: 10vh;
  }

  .nav-list {
    text-align: center;
    margin-top: 1vh;
    font-size: 2vw;
  }
  
  .small-nav {
    height: 10vh;
  }
}

.links {
  margin-top: 15vh;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(var(--primary), var(--secondary));
  border-radius: 10%;
}

.links a {
  padding: 2vh 0;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.aboutText {
  max-width: 65%;
  border-radius: 0 50px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.px-5 {
  padding-right: var(--spacing-five);
  padding-left: var(--spacing-five);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-profile {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: var(--primary) solid 3px;
}

.link-image-holder{
  justify-content: center;
}

.link-image {
  max-width: auto;
  max-height: 48px;
  margin: 0 var(--spacing-two);
}

.containerBackdrop {
  background-image: linear-gradient(var(--primary), var(--secondary));
}

.project-card {
  margin: 2vh 2vw;
  border-radius: 10px;
}

.resume-holder {
  border-radius: 0 15px;
}

.center-content {
  justify-content: center;
  text-align: center;
}

.project-photo {
  vertical-align: middle;
}

.stamp {
  max-width: 80px;
  max-height: 80px;
}

.align-right{
  justify-content: end;
}

.project-description {
  margin: 1vh 2vw;
}

.contact-form-holder {
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.footer-box {
  margin-top: 4vh;
  width: 90%;
  background-image: linear-gradient(45deg, var(--primary), var(--secondary));
border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.navActive {
  color: var(--secondary);
}